[Unit]
Description=A smart home
After=network.target
BindsTo=home.service
Requires=redis.service

[Service]
User=home
Group=home
WorkingDirectory=/srv/www/home
ExecStart=/srv/www/home/env/bin/celery multi start 2 -c 2 -A home.core.async.queue --loglevel=info

[Install]
WantedBy=multi-user.target
