<!DOCTYPE html>
<head>
    <title>Home Display</title>
    <link rel="icon" href="/static/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<style>
    body {
        background-color: black;
    }

    #nextbus {
        color: white;
        text-align: center;
    }

    #note {
        color: white;
        text-align: center;
        padding-top: 10px;
    }

    #status_panel {
        color: white;
        text-align: center;
    }
</style>
<body>
<p id="note"><strong>Tap for menu</strong> (not implemented)</p>
<div class="row">
    <div id="nextbus" class="col">
        <img src="https://www.stugov.iastate.edu/assets/images/logo.png" height="100"/>
        <h1>Next Bus</h1>
        <div id="nextbusdata">
        </div>
    </div>
    <div id="weather" class="col">
        <iframe src="https://weatherfor.us/widget?" scrolling="no" frameborder="0" allowtransparency="true"
                style="background: transparent; width: 720px; height: 250px; overflow: hidden;"></iframe>
        <img src="https://radblast.wunderground.com/cgi-bin/radar/WUNIDS_map?station=DMX&brand=wui&num=6&delay=15&type=N0R&frame=0&scale=1.000&noclutter=0&showstorms=0&mapx=400&mapy=240&centerx=400&centery=240&transx=0&transy=0&showlabels=1&severe=0&rainsnow=0&lightning=0&smooth=0&rand=25060044&lat=42.02999878&lon=-93.62000275&label=Ames%2C+IA">
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel panel-primary" id="status_panel" hidden>
            <h1>Status: <span id="presence_status">Unknown</span></h1>
        </div>
    </div>
</div>
</body>
{% assets "display_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</html>