<!DOCTYPE html>
<head>
    <title>Home Display</title>
    <link rel="icon" href="/static/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% assets "display_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>
<body>
<div class="container-fluid">
    <p id="note"><strong>Tap to Switch</strong></p>
    <div id="dashboard">
        {% for d in dashboard %}
        <div class="row">
            {{ d|safe }}
        </div>
        {% endfor %}
    </div>
    <div id="widgets">
            {% for widget in widgets %}
                <div class="col-md-2">
                    {{ widget | safe }}
                </div>
            {% endfor %}
    </div>
    <div id="update">
        <h1>Upgrade in Progress. Please Wait.</h1>
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
</body>
{% assets "display_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</html>
