<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Home</title>

    {% assets "common_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    <link rel="manifest" href="/static/manifest.json">
</head>
<body>
<div id="loadingScreen"></div>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home">Home</a></li>
                    {% for interface, devices in interfaces %}
                        {% if current_user.is_authenticated or interface.public %}
                            <li class="dropdown">
                                {% if devices|length <= 1 %}
                                    {% for device in devices %}
                                        <li><a href="#{{ device.name }}">{{ interface.friendly_name }}</a></li>
                                    {% endfor %}
                                {% else %}
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">{{ interface.friendly_name }}<span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for device in devices %}
                                            <li><a href="#{{ device.name }}">{{ device.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            {#
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Other Group</li>
                                #}
                        {% endif %}
                    {% endfor %}
                    {% if current_user.is_authenticated %}
                        <li><a href="#settings">Settings</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a id="status">Status:</a></li>
                        <li><a>{{ version }}{% if debug %}<span style="color:red">DEBUG</span>{% endif %}</a></li>
                        <li><a href="#logout" id="logout">Logout {{ current_user.username }}</a></li>
                    {% else %}
                        <li><a href="#login">Login</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div style="text-align: center;">
                <span id="messages" class="alert alert-warning">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </span>
            </div>
        {% else %}
            <div style="text-align: center;" hidden>
                <span id="messages" class="alert alert-warning">
                </span>
            </div>
        {% endif %}
    {% endwith %}

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active" style="text-align: center;">
            {% if current_user.is_authenticated %}
                <div class="row">
                    {% for widget in widgets %}
                        <div class="col-sm-2">
                            {{ widget | safe }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% for device in devices %}
            {% if current_user.is_authenticated or device.driver.interface.public %}
                <div id="{{ device.name }}" class="tab-pane fade in" style="text-align: center;">
                    {% if device.driver and device.driver.interface.template %}
                        {% include device.driver.interface.template %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        <div id="login" class="tab-pane fade in">

            <form class="form-signin" method="POST" action="/login">
                <h2 class="form-signin-heading">Please sign in</h2>
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="text" id="inputEmail" class="form-control" placeholder="Username" name="username" required
                       autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"
                       required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>

        </div>
        {% if current_user.is_authenticated %}
            <div id="settings" class="tab-pane fade in">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Devices</h3>
                    </div>
                    {% for device in devices %}
                        <div class="panel-body">
                            <strong>name=</strong>{{ device.name }}
                            <strong>driver=</strong>{{ device.driver }}
                            <strong>config=</strong>{{ device.config }}
                        </div>
                    {% endfor %}
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Actions</h3>
                    </div>
                    {% for action in actions %}
                        <div class="panel-body">
                            <strong>name=</strong><a href="javascript:void(0)"
                                                     onclick="ws.emit('admin', {command: 'action', action: '{{ action.name }}'});">{{ action.name }}</a>
                            <strong>config=</strong>{{ action.devices }}
                        </div>
                    {% endfor %}
                </div>
                {% if current_user.admin %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">API Clients</h3>
                        </div>
                        {% for client in clients %}
                            <div class="panel-body">
                                <strong>name=</strong>{{ client.name }}
                                <strong>token=</strong><span class="mouse_over">{{ client.token }}</span>
                                <button onclick="revoke('{{ client.name }}');this.parentNode.style.display = 'none';"
                                        class="btn btn-danger">Revoke
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Interface Visibility</h3>
                        </div>
                        {% for interface, blah in interfaces %}
                            <div class="panel-body">
                                <strong>{{ interface }}</strong>
                                <input class="visibility" type="checkbox" id="{{ interface }}" {% if interface.public %}checked{% endif %}>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Guest Display</h3>
                        </div>
                        <a href="{{ qr[1] }}"><img src="data:image/png;base64, {{ qr[0] }}" alt="qr code"/></a>
                        <a href="javascript:void(0)" id="refresh_display">Refresh</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <form id="password_form" method="POST" action="/user/password">
                        <h3>Reset Password</h3>
                        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                        {% if current_user.admin %}
                            User:
                            <input class="form-control" name="username">
                        {% else %}
                            Old Password:
                            <input class="form-control" type="password" name="password">
                        {% endif %}
                        New Password:
                        <input class="form-control" type="password" name="new_password">
                        Confirm New Password:
                        <input class="form-control" type="password" name="new_password_confirm">
                        <br>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                    {% if current_user.admin %}
                        <form id="user_form" method="POST" action="/user/create">
                            <h3>Create User</h3>
                            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                            Username:
                            <input class="form-control" name="username" autocomplete="off">
                            Password:
                            <input class="form-control" id="password1" type="password" name="password"
                                   autocomplete="off">
                            <br>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning" onclick="$('#password1').toggle()">
                                    <input type="radio" name="api" data-toggle="button" aria-pressed="false"
                                           id="api"
                                           autocomplete="off">API</input>
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" name="admin" data-toggle="button" aria-pressed="false"
                                           autocomplete="off">Admin</input>
                                </label>
                            </div>
                            <br>
                            <br>
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </form>
                    {% endif %}
                    <br>
                    {% if current_user.admin %}
                        <a href="javascript:void(0)" onclick="ws.emit('update')">Update</a>
                        <a href="/reload">Reload</a>
                    {% endif %}
                </div>
                {% if current_user.admin %}
                    <h3>Logs</h3>
                    <pre class="pre-scrollable"><code>{{ logs }}</code></pre>
                {% endif %}
            </div>
        {% endif %}
        {% assets "common_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% if current_user.is_authenticated %}
            {% assets "auth_js" %}
                <script type="text/javascript" src="{{ ASSET_URL }}"></script>
            {% endassets %}
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhWXMZ-vIR7fpNKDWAymC9uR6dhd7eKb8&callback=initMap">
            </script>
        {% endif %}
</body>
</html>
