<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="static/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/dist/css/bootstrap-slider.min.css">
    <script src="static/dist/js/jquery.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>
    <script src="static/dist/js/bootstrap-slider.min.js"></script>
    <link rel="manifest" href="/static/manifest.json">
</head>
<style>
    body {
        padding-bottom: 2rem;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
<body>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home">Home</a></li>
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            {% for interface, devices in interfaces %}
                                {% if devices|length <= 1 %}
                                    {% for device in devices %}
                                        <li><a href="#{{ device.name }}">{{ interface.friendly_name }}</a></li>
                                    {% endfor %}
                                {% else %}
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">{{ interface.friendly_name }}<span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                    {% for device in devices %}
                                        <li><a href="#{{ device.name }}">{{ device.name }}</a></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                    {#
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Other Group</li>
                                #}
                            {% endfor %}
                            {% if current_user.admin %}
                                <li><a href="#security">Security</a></li>
                            {% endif %}
                        <li><a href="#settings">Settings</a></li>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a id="status">Status:</a></li>
                        <li><a>{{ version }}</a></li>
                        <li><a href="#logout" id="logout">Logout {{ current_user.username }}</a></li>
                    {% else %}
                        <li><a href="#login">Login</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div style="text-align: center;">
                <span id="messages" class="alert alert-warning">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </span>
            </div>
        {% else %}
            <div style="text-align: center;" hidden>
                <span id="messages" class="alert alert-warning">
                </span>
            </div>
        {% endif %}
    {% endwith %}

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active" style="text-align: center;">
            <h1>Welcome Home</h1>
        </div>
        {% if current_user.is_authenticated %}
            {% for device in devices %}
                <div id="{{ device.name }}" class="tab-pane fade in" style="text-align: center;">
                    {% if device.driver and device.driver.interface.template %}
                        {% include device.driver.interface.template %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        <div id="login" class="tab-pane fade in">

            <form class="form-signin" method="POST" action="/login">
                <h2 class="form-signin-heading">Please sign in</h2>
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="text" id="inputEmail" class="form-control" placeholder="Username" name="username" required
                       autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"
                       required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>

        </div>
        {% if current_user.admin %}
            <div id="security" class="tab-pane fade in danger">
                <div class="jumbotron"
                     style="background-color:{% if sec.state == 'armed' %}green{% elif sec.state == 'alert' %}red{% else %}{% endif %}; color: {% if sec.state == 'armed' %}white{% elif sec.state == 'alert' %}white{% else %}{% endif %};">
                    <h1>Status: <span id="state">{{ sec.state }}</span></h1>
                    <button id="statusbutton" onclick="changeState()"
                            class="btn btn-{% if sec.state == 'disabled' %}success">
                                Enable{% elif sec.state == 'armed' %}danger">Disarm{% elif sec.state == 'alert' %}warning">Clear{% endif %}</button>
                </div>
                <span class="label label-warning" id="warning"></span>
                <div class="col-md-8">
                    <table class="table" id="events">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Sensor</th>
                            <th>Start Time</th>
                            <th>Duration (seconds)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if events %}
                            {% for event in events|reverse %}
                                <tr>
                                    <td>{{ event.id }}</td>
                                    <td>{{ event.device }}</td>
                                    <td>{{ event.datetime }}</td>
                                    <td>{{ event.duration }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            No events yet. Yay!
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        <div id="settings" class="tab-pane fade in">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Devices</h3>
                    </div>
                    {% for device in devices %}
                        <div class="panel-body">
                            <strong>name=</strong>{{ device.name }}
                            <strong>driver=</strong>{{ device.driver }}
                            <strong>config=</strong>{{ device.config }}
                        </div>
                    {% endfor %}
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Actions</h3>
                    </div>
                    {% for action in actions %}
                        <div class="panel-body">
                            <strong>name=</strong><a href="javascript:void(0)"
                                                     onclick="ws.emit('action', {action: '{{ action.name }}'});">{{ action.name }}</a>
                            <strong>config=</strong>{{ action.devices }}
                        </div>
                    {% endfor %}
                </div>
                {% if current_user.admin %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">API Clients</h3>
                        </div>
                        {% for client in clients %}
                            <div class="panel-body">
                                <strong>name=</strong>{{ client.name }}
                                <strong>token=</strong>{{ client.token }}
                                <button onclick="revoke('{{ client.name }}');this.parentNode.style.display = 'none';"
                                        class="btn btn-danger">Revoke
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <form id="password_form" method="POST" action="/user/password">
                        <h3>Reset Password</h3>
                        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                        {% if current_user.admin %}
                            User:
                            <input class="form-control" name="username">
                        {% else %}
                            Old Password:
                            <input class="form-control" type="password" name="password">
                        {% endif %}
                        New Password:
                        <input class="form-control" type="password" name="new_password">
                        Confirm New Password:
                        <input class="form-control" type="password" name="new_password_confirm">
                        <br>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                    {% if current_user.admin %}
                        <form id="user_form" method="POST" action="/user/create">
                            <h3>Create User</h3>
                            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                            Username:
                            <input class="form-control" name="username" autocomplete="off">
                            Password:
                            <input class="form-control" id="password1" type="password" name="password"
                                   autocomplete="off">
                            <br>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning" onclick="$('#password1').toggle()">
                                    <input type="radio" name="api" data-toggle="button" aria-pressed="false" id="api"
                                           autocomplete="off">API</input>
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" name="admin" data-toggle="button" aria-pressed="false"
                                           autocomplete="off">Admin</input>
                                </label>
                            </div>
                            <br>
                            <br>
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </form>
                    {% endif %}
                    <br>
                {% if current_user.admin %}
                    <a href="javascript:void(0)" onclick="ws.emit('update')">Update</a>
                    <a href="/reload">Reload</a>
                {% endif %}
                </div>
            </div>
        </div>
        <script src="static/js/index.js"></script>
        {% if current_user.is_authenticated %}
            <script src="static/dist/js/socket.io-1.4.5.js"></script>
            <script src="static/js/check.js"></script>
            <script src="static/js/main.js"></script>
            <script src="static/js/color.js"></script>
        {% endif %}
        <script>

        </script>
</body>
</html>
