<div class="jumbotron"
     style="background-color:{% if sec.state == 'armed' %}green{% elif sec.state == 'alert' %}red{% else %}{% endif %}; color: {% if sec.state == 'armed' %}white{% elif sec.state == 'alert' %}white{% else %}{% endif %};">
    <h1>Status: <span id="state">{{ sec.state }}</span></h1>
    <button id="statusbutton" onclick="changeState()"
            class="btn btn-{% if sec.state == 'disabled' %}success">
                Enable{% elif sec.state == 'armed' %}danger">Disarm{% elif sec.state == 'alert' %}
                warning">Clear{% endif %}</button>
</div>
<span class="label label-warning" id="warning"></span>
<button class="btn btn-default" id="showimages">Show Feeds</button>
<button class="btn btn-default" id="hideimages">Hide Feeds</button>
<div class="col-md-8" id="monitor" hidden>
    <br>
    <br>
    {% for feed, name in feeds %}
        <img class="feed" data-src="{{ feed }}" title="{{ name }}">
    {% endfor %}
</div>
<div class="col-md-8">
    <table class="table" id="events">
        <thead>
        <tr>
            <th>#</th>
            <th>Sensor</th>
            <th>Start Time</th>
            <th>Duration (seconds)</th>
        </tr>
        </thead>
        <tbody>
        {% if events %}
            {% for event in events|reverse %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.device }}</td>
                    <td>{{ event.datetime }}</td>
                    <td>{{ event.duration }}</td>
                </tr>
            {% endfor %}
        {% else %}
            No events yet. Yay!
        {% endif %}
        </tbody>
    </table>
</div>

<script>
    $('#showimages').click(reveal);
    $('#hideimages').click(hide);

    function reveal() {
        $('.feed').each(function () {
            $(this).attr("src", $(this).attr("data-src"));
            $("#monitor").show();
        });
    }

    function hide() {
        $('.feed').each(function () {
            $(this).attr("src", "");
            $("#monitor").hide();
        });
    }
</script>
